@page "/browse"
<PageTitle>Browsing</PageTitle>

<style>
	
	.searchform {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto;
	}

	.searchform-control {
		width: 500px;
		height: 100px;
	}




	.recommended-courses-title {
		font-weight: bold;
		font-size: 20px;
		padding: .5rem 0 .5rem 1rem;
		border: 3px solid orange;
		border-radius: 8px 8px 0 0;
	}

	.courses-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: left;
	}

	.srch-btn {
		margin-top: 10px;
	}

	.search {
		margin-top: 3%;
	}

	.recommended {
		margin-top: 3%;
	}

	.search-results {
		width: 80%;
		background-color: #85C1E9;
		border: 2px solid black;
		border-radius: 5px;
		margin: auto;
	}

	div p {
		text-align: center;
	}

	.add-btn {
		text-align: center;
		margin-bottom: 2%;
	}

	.clear-btn {
		margin-top:1%;
		text-align: center;
	}

	.search-heading {
		border: 3px solid black;
		background-color: #2E86C1;
	}

	.search-heading h3 {
		text-align: center;
	}

	.page-container {
		display: flex;
		flex-direction: row;
		margin-top: 1rem;
	}

	.search-container {
		display: flex;
		flex-direction: column;
	}



	.browse-section-container {
		display: flex;
		flex: 65%;
		flex-direction: column;
		max-height: 90vh;
		overflow: auto;
		margin-left: 1rem;
	}




	.block {
		width: 300px;
		height: 100px;
	}

</style>

<div class="page-container">
	<div class="browse-section-container">
		<form class="flex-row search-bar" onsubmit="@(searchResults)">
			<input class="search-input" type="text" placeholder="Search Courses" aria-label="Search">
			<button class="util-button-1 small-margin-right" type="submit">Search</button>
			@if (searchClicked)
			{
							<button class="white-button-1" type="button" onclick="@(searchResultsOff)">Clear Results</button>
			}
		</form>
		@if(searchClicked)
		{
			<div class="courses-container">
				@foreach (var course in coursesFromSearch)
				{
					<CourseCardBasic CourseName="@course.CourseName" CourseCode="@course.CourseCode" Description="@course.Description" Prereq="@course.prereq" Review="@course.Review" showBookmarkButton="true" showSelectCourseButton="true"></CourseCardBasic>
				}
			</div>
		}
		
		<div class="flex-column standard-card med-top-margin">
			<div class="recommended-courses-title">
					Recommended Courses (Based on degree)
				</div>
				<div class="courses-container">
				@foreach (var course in courses)
				{
					<CourseCardBasic CourseName="@course.CourseName" CourseCode="@course.CourseCode" Description="@course.Description" Prereq="@course.prereq" Review="@course.Review" Recommended="true" showBookmarkButton="true" showSelectCourseButton="true"></CourseCardBasic>
				}
			</div>
		</div>
	</div>
	<div class=side-panel-container>
		<SidePanel></SidePanel>
	</div>
</div>

@code {
	private List<BasicCourse> courses;
	private List<BasicCourse> coursesFromSearch = new List<BasicCourse>
		{
			new BasicCourse
			{
				CourseName = "Human Computer Interaction",
				CourseCode = "CPSC 481",
				Description = "Fundamental theory and practice of the design, implementation, and evaluation of human-computer interfaces",
				prereq = "3 units from Software Engineering 300, 301, Software Engineering 480 or Data Science 311",
				Review = "Good course. Gives you good food for thought on the right processes to take as you design things. Engaging prof. Likes to come up with interesting examples and keeps lectures unique and engaging. Ask the prof what technologies you will be allowed to use for your project, since that's a big part of what you will be learning. For us it was C# though I heard that it may be opening up in the future"
			},
			new BasicCourse
			{
				CourseName = "Distributed Systems",
				CourseCode = "CPSC 559",
				Description = "Designing and implementing distributed systems that overcome challenges due to concurrent computation, ailure of components in the system",
				prereq = "Computer Science 441 and 457",
				Review = "No Reviews"
				
			},
		};
	private bool searchClicked = false;


	private void searchResults()
	{
		searchClicked = true;
	}

	private void searchResultsOff()
	{
		searchClicked = false;
	}

	private BasicCourse course = new BasicCourse
		{
			CourseName = "Human Computer Interaction",
			CourseCode = "CPSC 481",
			Description = "Fundamental theory and practice of the design, implementation, and evaluation of human-computer interfaces. Topics include: principles of design; methods for evaluating interfaces with or without user involvement; techniques for prototyping and implementing graphical user interfaces.",
			prereq = "3 units from Software Engineering 300, 301, Software Engineering 480 or Data Science 311.",
			Review = "Good course. Gives you good food for thought on the right processes to take as you design things. Engaging prof. Likes to come up with interesting examples and keeps lectures unique and engaging. Ask the prof what technologies you will be allowed to use for your project, since that's a big part of what you will be learning. For us it was C# though I heard that it may be opening up in the future"
		};

	protected override void OnInitialized()
	{
		base.OnInitialized();
		courses = new List<BasicCourse>
		{
			new BasicCourse
			{
				CourseName = "Human Computer Interaction",
				CourseCode = "CPSC 481",
				Description = "Fundamental theory and practice of the design, implementation, and evaluation of human-computer interfaces",
				prereq = "3 units from Software Engineering 300, 301, Software Engineering 480 or Data Science 311",
				Review = "Good course. Gives you good food for thought on the right processes to take as you design things. Engaging prof. Likes to come up with interesting examples and keeps lectures unique and engaging. Ask the prof what technologies you will be allowed to use for your project, since that's a big part of what you will be learning. For us it was C# though I heard that it may be opening up in the future"
			},
			new BasicCourse
			{
				CourseName = "Distributed Systems",
				CourseCode = "CPSC 559",
				Description = "Designing and implementing distributed systems that overcome challenges due to concurrent computation, ailure of components in the system",
				prereq = "Computer Science 441 and 457",
				Review = "No Review"		
			},
			new BasicCourse
			{
				CourseName = "Web-Based Systems",
				CourseCode = "SENG 513",
				Description = "An overview of software engineering methods and technologies for developing web-based software systems.",
				prereq = "3 units from Software Engineering 300, 301 or ENSF 480",
				Review = "Mid tier course. Assignments are not super tough to do but can be frustrating to set up. Lots of people struggled on the assignments because they always had you downloading Java packages and some people couldn't bugfix them. Covers some important info on testing, but it's not life changing."		
			},
			new BasicCourse
			{
				CourseName = "Software Project Management",
				CourseCode = "SENG 511",
				Description = "Analysis of methods, tools, and techniques for software project management as an effort to achieve quality software products.",
				prereq = "3 units from Software Engineering 300, 301, 403 or ENSF 480",
				Review = "Amazing class, prof is extremely passionate and an incredible instructor. The tests were open book and fair."

			},
			/*
			new BasicCourse
			{
				CourseName = "Programming Paradigms",
				CourseCode = "CPSC 449",
				Description = "Examination of the basic principles of the major programming language paradigms. Focus on declarative paradigms.",
				prereq = "Computer Science 319 or 331; and Philosophy 279 or 377.",
				Review = "Interesting material but the readings contain a lot of little details that are all fair game for the exams. Very insightful material, somewhat useful. Amazing professor that cares about the input of her students. Explains concepts well and allows for questions. Memorize the little details and pay attention in class. Finish the readings a day or more before an exam so they are still fresh in your brain, but don't read them too soon before that you forget the details. "
			},
			new BasicCourse
			{
				CourseName = "Artificial Intelligence",
				CourseCode = "CPSC 433",
				Description = "An examination of the objectives, key techniques and achievements of work on artificial intelligence in Computer Science.",
				prereq = "Computer Science 313 or 351; and Philosophy 279 or 377",
				Review = "Differential equations is very different from normal calc. It requires a lot of memorization of different methods of solving equations. Luckily, in online school we are allowed access to our notes. But also because of the rampant cheating on the midterm, the final was impossibly hard. The best students and even cheaters couldn't score above 80% and most people failed. It's a hard course all around but if you practice a lot then you'll do fine."
			}*/
		};
	}
	/* Course Reviews are based on ratemycourses.io reviews */
}
	